In [1]:
# %matplotlib inline
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [3]:
titles = pd.read_csv('titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [4]:
cast = pd.read_csv('cast.csv', sep=",")
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [5]:
titles.shape[0]

232330

### What are the earliest two films listed in the titles dataframe?

In [8]:
titles.sort_values(by='year').head(2)

                     title  year
177757          Miss Jerry  1894
215272  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [9]:
titles["title"]

0                               The Rising Son
1                      The Thousand Plane Raid
2                             Crucea de piatra
3                                      Country
4                                   Gaiking II
                          ...
232325                                   E yue
232326                            Lakota Girls
232327                          Kroniki domowe
232328                    Awakening the Zodiac
232329    Death in the Valley of Good and Evil
Name: title, Length: 232330, dtype: object

In [11]:
titles[titles["title"]=="Hamlet"]

         title  year
6009    Hamlet  1948
45350   Hamlet  1990
46721   Hamlet  1910
92146   Hamlet  1976
94355   Hamlet  1987
94554   Hamlet  2000
98554   Hamlet  1921
102919  Hamlet  2011
122704  Hamlet  1969
128388  Hamlet  1954
166410  Hamlet  1913
168965  Hamlet  2015
176069  Hamlet  2009
182970  Hamlet  1964
201291  Hamlet  1996
209878  Hamlet  1911
221479  Hamlet  1973
223568  Hamlet  2014

### How many movies are titled "North by Northwest"?

In [12]:
titles[titles["title"]=="North by Northwest"]

                     title  year
139311  North by Northwest  1959

### When was the first movie titled "Hamlet" made?

In [13]:
titles[titles["title"]=="Hamlet"].sort_values(by='year')

         title  year
46721   Hamlet  1910
209878  Hamlet  1911
166410  Hamlet  1913
98554   Hamlet  1921
6009    Hamlet  1948
128388  Hamlet  1954
182970  Hamlet  1964
122704  Hamlet  1969
221479  Hamlet  1973
92146   Hamlet  1976
94355   Hamlet  1987
45350   Hamlet  1990
201291  Hamlet  1996
94554   Hamlet  2000
176069  Hamlet  2009
102919  Hamlet  2011
223568  Hamlet  2014
168965  Hamlet  2015

### List all of the "Treasure Island" movies from earliest to most recent.

In [14]:
titles[titles["title"]=="Treasure Island"].sort_values(by='year')

                  title  year
206027  Treasure Island  1918
51287   Treasure Island  1920
191050  Treasure Island  1934
96934   Treasure Island  1950
89534   Treasure Island  1972
111343  Treasure Island  1973
205397  Treasure Island  1985
179354  Treasure Island  1999

### How many movies were made in the year 1950?

In [17]:
titles[titles["year"]==1950]

                             title  year
71                Campo O' Donnell  1950
90                Botta e risposta  1950
233                         Madari  1950
552            Un certain monsieur  1950
1004             Vom Teufel gejagt  1950
...                            ...   ...
230617  Na Zha da zhan Hong Hai Er  1950
231254                Dwie brygady  1950
231404                       Jogan  1950
231936                Rasuna valea  1950
232004            Thyella sto faro  1950

[1099 rows x 2 columns]

### How many movies were made in the year 1960?

In [18]:
titles[titles["year"]==1960]

                              title  year
104                 Cone of Silence  1960
326                   The Challenge  1960
450         Dos hijos desobedientes  1960
866                Pretty Boy Floyd  1960
892               Caught in the Net  1960
...                             ...   ...
231638                        India  1960
231658                    Wu cai lu  1960
231689              Walang Pangalan  1960
231891                  Fuefukigawa  1960
232104  Il peccato degli anni verdi  1960

[1501 rows x 2 columns]

         title  year
6009    Hamlet  1948
45350   Hamlet  1990
46721   Hamlet  1910
92146   Hamlet  1976
94355   Hamlet  1987
94554   Hamlet  2000
98554   Hamlet  1921
102919  Hamlet  2011
122704  Hamlet  1969
128388  Hamlet  1954
166410  Hamlet  1913
168965  Hamlet  2015
176069  Hamlet  2009
182970  Hamlet  1964
201291  Hamlet  1996
209878  Hamlet  1911
221479  Hamlet  1973
223568  Hamlet  2014

### How many movies were made from 1950 through 1959?

In [19]:
titles[(titles["year"]>=1950) &(titles["year"]<=1960)]

                                         title  year
40      La momia azteca contra el robot humano  1958
45                                 Mavi boncuk  1958
71                            Campo O' Donnell  1950
90                            Botta e risposta  1950
92                         Perdeu-se um Marido  1957
...                                        ...   ...
232174               Dimas: The Sainted Robber  1952
232196                    Tischlein, deck dich  1956
232231                        Some Like It Hot  1959
232260                             Black Widow  1951
232291                       Te sigo esperando  1952

[14212 rows x 2 columns]

### In what years has a movie titled "Batman" been released?

In [20]:
titles[titles["title"]=="Batman"]

        title  year
56000  Batman  1989
74608  Batman  1943

### How many roles were there in the movie "Inception"?

In [21]:
cast

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
3634462,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3634463,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3634464,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3634465,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3634466,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

In [26]:
cast[cast["title"]=="Inception"].character.count()

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [28]:
cast[(cast["title"]=="Inception") &(cast["n"].isna())]

,title,year,name,type,character,n
94937,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
191432,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
363361,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
663898,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
670255,Inception,2010,Marcus (II) Everett,actor,Stock Broker,NaN
686703,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
811450,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
977118,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
1063115,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
1076304,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
1087388,Inception,2010,Alonzo F. Jones,actor,Mombasan Casino Staff,NaN
1153924,Inception,2010,Mobin Khan,actor,Mombasa Casino Cashier,NaN
1210696,Inception,2010,Shunsaku Kud?,actor,Saito's Bodyguard Officer,NaN
1257226,Inception,2010,John (IX) Lawson,actor,Street Person,NaN
1272780,Inception,2010,Jean-Christophe Leger,actor,French Student,NaN
1616149,Inception,2010,Fran?ois-Marie Nivon,actor,A Passer-By,NaN
1781608,Inception,2010,Scott Pretty,actor,Pedestrian,NaN
1863454,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
1939627,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
2063132,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
2170402,Inception,2010,Affan Tareen,actor,Denison,NaN
2703704,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2756294,Inception,2010,Julie Eagleton,actress,Stockbroker,NaN
2849217,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN
2947226,Inception,2010,Marguerite Insolia,actress,Reporter,NaN
3035859,Inception,2010,Leticia LaBelle,actress,Airport Patron,NaN

### But how many roles in the movie "Inception" did receive an "n" value?

In [29]:
cast[(cast["title"]=="Inception") &(cast["n"].notna())]

,title,year,name,type,character,n
144039,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
177911,Inception,2010,Tom Berenger,actor,Browning,8.0
251777,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
316624,Inception,2010,Michael Caine,actor,Miles,11.0
323094,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
420630,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
430903,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
501768,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
573027,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
688415,Inception,2010,Russ Fega,actor,Cab Driver,23.0
715536,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
784007,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
788164,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
807374,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
808634,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
834400,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
883651,Inception,2010,Lukas Haas,actor,Nash,12.0
913007,Inception,2010,Tom Hardy,actor,Eames,4.0
938602,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
1136172,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
1270376,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
1411833,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
1567714,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
1570468,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
1618906,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
1651041,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
1757848,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
1771368,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
1805530,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
1819816,Inception,2010,Dileep Rao,actor,Yusuf,6.0
1987545,Inception,2010,Felix Scott,actor,Businessman,46.0
2182283,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2198467,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2333003,Inception,2010,Ken Watanabe,actor,Saito,5.0
2532007,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2674837,Inception,2010,Marion Cotillard,actress,Mal,9.0
2684812,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2714054,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2832285,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2832292,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
3038305,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
3044880,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
3086881,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3107970,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3218712,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
3233985,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
3259597,Inception,2010,Ellen Page,actress,Ariadne,3.0
3313720,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3340319,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3347057,Inception,2010,Talulah Riley,actress,Blonde,25.0
3582980,Inception,2010,Shannon Welles,actress,Old Mal,51.0

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [34]:
cast[(cast["title"]=="North by Northwest") &(cast["n"].notna())].sort_values(by="n")

,title,year,name,type,character,n
845516,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3382934,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1413409,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3043261,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
345822,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2941468,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1644542,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1236791,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2372617,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1757154,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
646039,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2225858,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
450691,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1463316,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
199768,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1343025,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [35]:
cast[(cast["title"]=="Sleuth") &(cast["n"].notna()) &(cast["year"]==1972)].sort_values(by="n")

,title,year,name,type,character,n
1654402,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
316652,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
362592,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1421434,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2635708,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1405219,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [36]:
cast[(cast["title"]=="Sleuth") &(cast["n"].notna()) &(cast["year"]==2007)].sort_values(by="n")

          title  year           name   type    character    n
316653   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1254632  Sleuth  2007       Jude Law  actor         Milo  2.0
1751872  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [37]:
cast[(cast["title"]=="Hamlet") & (cast["year"]==1921)].character.count()

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [38]:
cast[(cast["title"]=="Hamlet") & (cast["year"]==1996)].character.count()

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [39]:
cast[(cast["title"]=="Hamlet")].character.count()

313

### How many people have played an "Ophelia"?

In [40]:
cast[(cast["character"]=="Ophelia")].character.count()

111

### How many people have played a role called "The Dude"?

In [41]:
cast[(cast["character"]=="The Dude")].character.count()

18

### How many people have played a role called "The Stranger"?

In [42]:
cast[(cast["character"]=="The Stranger")].character.count()

212

### How many roles has Sidney Poitier played throughout his career?

In [45]:
cast[(cast["name"]=="Sidney Poitier")].character.count()

43

### How many roles has Judi Dench played?

In [46]:
cast[(cast["name"]=="Judi Dench")].character.count()

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [47]:
cast[(cast["name"]=="Cary Grant") &(cast["n"]==2) &(cast["year"]>=1940) &(cast["year"]<1950)].sort_values(by="year")

                   title  year        name   type    character    n
845513  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
845523    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [48]:
cast[(cast["name"]=="Cary Grant") &(cast["n"]==1) &(cast["year"]>=1940) &(cast["year"]<1950)].sort_values(by="year")

,title,year,name,type,character,n
845539,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
845495,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
845541,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
845528,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
845543,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
845519,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
845486,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
845511,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
845512,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
845520,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
845478,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
845515,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
845514,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
845517,Notorious,1946,Cary Grant,actor,Devlin,1.0
845535,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
845536,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
845510,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
845490,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
845499,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [53]:
cast[(cast["type"]=="actor") &(cast["year"]>=1950) &(cast["year"]<1960)].character.count()

155058

### How many roles were avilable for actresses in the 1950s?

In [54]:
cast[(cast["type"]=="actress") &(cast["year"]>=1950) &(cast["year"]<1960)].character.count()

56412

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [56]:
cast[(cast["n"]==1) &(cast["year"]<1990)].character.count()

75953

### How many non-leading roles were available through from the beginning of film history through 1980?

In [57]:
cast[(cast["n"]==2) &(cast["year"]<1990)].character.count()

71188

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [59]:
cast[(cast["n"].isna()) &(cast["year"]>=1980) &(cast["year"]<1990)].character.count()

50915